<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>v-for遍历对象</title>
		<script src="js/vuejs-2.5.16.js"></script>
	</head>
	<body>
		<div id="app">
			<table>
				<tr>
					<td>
						登录名：
					</td>
					<td>
						<input type="text" name="username" v-model="user.username"/>
					</td>
				</tr>
				<br>
				<tr>
					<td>
						密码：
					</td>
					<td>
						<input type="text" name="password" v-model="user.password"/>
					</td>
				</tr>
			</table>
		</div>
	</body>
	<script>
		//view model
		new Vue({
			el:"#app",
			data:{
				user:{
					username:"test",
					password:"1233"
				}
			}
		})
	</script>
</html>
