<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vmms.login.dao.UserMapper">
    <select id="getUserRolesByUid" parameterType="Integer" resultType="com.vmms.login.domain.Role">
        select r.* from user_role ur,oper_role r where ur.rid = r.id and ur.uid =#{uid}
    </select>

    <select id="loadUserByUsername" parameterType="String" resultType="com.vmms.login.domain.User">
        select * from oper_user where username=#{username}
    </select>
</mapper>
